* {
  padding: 0%;
  margin: 0%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
  display: flex;
  
}

main {
  width: 100%;
  height: 100vh;
}

.contact-list {
  padding: 8px;
  list-style-type: none;
  width: 350px;
}

.contact img {
  border-radius: 100%;
  width: 60px;
}

.contact {
  display: flex;
  gap: 15px;
  margin: 20px;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  width: auto;
}

.contact:hover {
  background-color: rgb(201, 201, 201);
}

.contact h4 {
  font-size: 20px;
}

.contact div {
  align-content: center;
}

.sidebar {
  padding: 20px;
  border-right: 1.5px solid #e1e1e1;
}

.sidebar input {
  border: 1px solid gray ;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.status {
 color: gray;
}

.chat-header img {
  border-radius: 100%;
  width: 60px;
}

.chat-header {
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #e1e1e1;
  width: 100%;
  justify-content: space-between;
}


.chat-header button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.chat-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 8px;
}

.chat-info h3 {
  font-size: 30px;
}

.in-chat {
  background-color: rgb(201, 201, 201);
}

.online::before {
  content: "🟢";
font-size: 12px;
}

.offline::before {
  content: "🔴";
  font-size: 12px;
}

.message {
border-radius: 15px;
padding: 10px;

}

.sent {
background-color: #e4f2f7;
min-width: ;
}

.received {
background-color: #ededed;
}

.chat-messages {
  background-color: red;
  display: flex;
  flex-direction: column;
}


.chat-footer {
align-content: end;
background-color red;
padding: 15px;
border-top: 1.5px solid #e1e1e1;
}

.chat-footer input {
  border: 1px solid gray ;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.chat-footer button {
  background-color: #fefefe;
  border: none;
  font-size: 20px;
}